@use "../abstracts/index" as *;

.courses__search {
  display: flex;
  max-width: 315px;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid $color-grey-300;
  border-radius: $border-radius-4;
  .courses__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    &::placeholder {
      font-weight: 400;
      color: $color-grey-600;
    }
  }
  .courses__search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    .courses__search-button-icon {
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url("../assets/images/search.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  @include bp-md($bp-md) {
    max-width: 750px;
  }
}
